@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	height:auto;
	text-decoration:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
	font: normal 100% Helvetica, Arial, sans-serif;
	background:url(./bg_01.png) no-repeat;
	background-size:100%;}
body,p,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,img{
	margin:0;
	padding:0;}
img{
	border:0;}
a,a:link, a:visited{ text-decoration:none;}
a:hover, a:focus, a:active{ text-decoration:underline;}
a:focus img , a:active img{ border:0;}
/*content*/
.top{
	width:50%;
	height:auto;
	min-width:328px;
	margin:10% auto 0 auto;}
.top p{
	color:#e5343b;
	font-family:"叶根友毛笔行书简体";
	font-weight:normal;
	margin-top:2%;}
.bottom{
	width:auto;
	height:auto;
	margin:-5% auto 0 auto;
	padding:16% 0 10% 0;}
.bottom p{
	margin-top:8%;}
#box{
	float:left;
	width:60%;
	height:18%;}
#box .title{
	text-indent:100;
	float:left;
	width:100%;
	height:20%;
	background:#ffa91e;}
#box .title h1{
	margin:1.8% 0 1.5% 0;
	padding:0;
	float:left;
	font-family:"黑体";
	color:#fff;}
#box .title .space2{
	float:right;
	margin-right:1%;
	margin-top:2%;}
#box .con{
	float:left;
	width:100%;
	height:80%;
	background:#fff;}
.con p{
	overflow:hidden;
	width:90%;
	height:auto;
	margin:2% 0 5% 0;
	font-family:"黑体";
	color:#000;
}
@media screen and (max-width:480px)	{
.top p{
		font-size:2.1em;}
#box{
	margin:-20% 0 0 20%;
	}
#box .title h1{
	font-size:1.0em;}
#box .title .space1{
	float:left;
	margin-left:38%;}
#box .con p{
	font-size:1.0em;}
	}
@media screen and (min-width:480px) and (max-width:540px){
.top p{
		font-size:2.1em;}
#box{
	margin:-21% 0 0 20%;
	}
#box .title h1{
	font-size:1.4em;}
#box .title .space1{
	float:left;
	margin-left:38%;}
#box .con p{
	font-size:1.2em;}
}
@media screen and (min-width:540px) and (max-width:640px){
.top p{
		font-size:2.3em;}
#box{
	margin:-20% 0 0 20%;}
#box .title h1{
	font-size:1.5em;}
#box .title .space1{
	float:left;
	margin-left:38%;}
#box .con p{
	font-size:1.3em;}		
}
@media screen and (min-width:640px) and (max-width:720px){
.top p{
		font-size:2.5em;}
#box{
	margin:-20% 0 0 20%;}
#box .title h1{
	font-size:1.6em;}
#box .title .space1{
	float:left;
	margin-left:38%;}
#box .con p{
	font-size:1.4em;}
}
@media screen and (min-width:720px) and (max-width:750px){
.top p{
		font-size:2.8em;}
#box{
	margin:-19.5% 0 0 20%;}
#box .title h1{
	font-size:1.7em;}
#box .title .space1{
	float:left;
	margin-left:39%;}
#box .con p{
	font-size:1.5em;}	
}
@media screen and (min-width:750px) and (max-width:800px){
.top p{
		font-size:2.8em;}
#box{
	margin:-20% 0 0 20%;}
#box .title h1{
	font-size:1.7em;}
#box .title .space1{
	float:left;
	margin-left:35%;}
#box .con p{
	font-size:1.5em;}
	}
@media screen and (min-width:800px) and (max-width:1080px){
.top p{
		font-size:3.1em;}
#box{
	margin:-22% 0 0 20%;}
#box .title h1{
	font-size:1.8em;}
#box .title .space1{
	float:left;
	margin-left:35%;}
#box .con p{
	font-size:1.6em;}
}
@media screen and (min-width:1080px){
.top p{
		font-size:4rem;}
#box{
	margin:-22% 0 0 20%;}
#box .title h1{
	font-size:2.0em;}
#box .title .space1{
	float:left;
	margin-left:30%;}
#box .con p{
	font-size:1.8em;}
}
	
