html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
#cnzz_stat_icon_1257360646{
	display: none;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*.swiper-pagination-bullet-active{
	background: #56CDB8;
}*/
.swiper-pagination-bullet{
	background: #fff;
}
.images{
	max-width: 100%;
	height: 100%;
	display: block;
	margin:0 auto;
}
/*.images img{
	display: block;
	width: 100%;
}*/
.up{
	position: absolute;
	top: 83%;
	left: 45%;
	display: none;
	width: 10%;
	height: 5%;
}
.button{
	position: absolute;
	top: 75%;
	left: 20%;
	width: 60%;
	height: 15%;
}
.end{
	height: 17%;
	top: 80%;
}
.button img,.end img{
	width: 100%;
	transition: all 0.8s linear 0s;
	-webkit-transition: all 0.8s linear 0s;
	-moz-transition: all 0.8s linear 0s;
	-ms-transition: all 0.8s linear 0s;
}